{% extends 'base.html' %}
{% load user_tags %}

{% block title %}Brand Detail{% endblock %}

{% block content %}
    <h2>{{ brand.name }}</h2>
    <p><strong>Description:</strong> {{ brand.description|default:"N/A" }}</p>
    <a href="{% url 'brand_list' %}" class="btn btn-secondary">Back to List</a>
    {% if user|has_group:"Administrador" or user|has_group:"Editor" %}
    <a href="{% url 'brand_update' brand.pk %}" class="btn btn-warning">Edit</a>
    {% endif %}
    {% if user|has_group:"Administrador" %}
    <a href="{% url 'brand_delete' brand.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
{% endblock %}
